<div id="installation-page" class="cl-prim p-3">
    <div data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <h5 class="secondary-title">FormGroup Validator</h5>
        <p>This function returns a boolean value if the FormGroup type variable has been validated correctly, otherwise
            returns an error message with all fields invalidated.<br>
            Validation also handles formArrays up to 3 levels: main formGroup -> formArray -> formArray of the formArray</p>
    </div>
</div>
