
<div id="home-page" class="p-2 cl-prim">
    <article class="logo">

        <div class="logo-img" data-aos="fade-right" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
            <img src="images/logos/ng-trimagix-logo-blank.png" alt="" />
        </div>

        <h1 class="primary-tile" data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
            NG-TRIMAGIX
        </h1>

    </article>

    <article class="description" data-aos="zoom-in" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <p>A powerful, flexible, and intuitive Angular library <br> for building modern web applications lo.</p>
    </article>

    <div class="mt-1">
        <button class="btn-neon purple round basic-width py-2" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1000" type="button" routerLink="/getting-started/installation">
            Get Started
            <i class="fa-solid fa-arrow-right ms-3"></i>
        </button>

        <button class="btn-neon light round basic-width ms-3 py-2" data-aos="fade-up" data-aos-easing="ease-out-cubic" data-aos-duration="1500" type="button">
            <i class="fa-brands fa-github me-3"></i>
            GitHub
        </button>
    </div>
</div>
