<div id="header-component">
    
    <div class="logo-img-header" routerLink="/home-page">
        <img src="images/logos/ng-trimagix-logo-blank.png" alt="logo-trimagix" />
    </div>

    <div class="btn-switch-menu" >
        <div class="button-switch" >
            <input type="checkbox" id="checkbox" [class]="{'opened': menuOpened == true}">
            <label for="checkbox" class="toggle" (click)="toggleMenu()">
                <div class="bars" id="bar1"></div>
                <div class="bars" id="bar2"></div>
                <div class="bars" id="bar3"></div>
            </label>
        </div>

        <div class="btn-switch-content" [class]="{'opened': menuOpened == true}">
            <app-menu-lateral (emitFunction)="toggleMenu()"></app-menu-lateral>
        </div>
    </div>
</div>
