<div id="installation-page" class="cl-prim p-3">
    <div data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <h5 class="secondary-title">Installation</h5>
        <p>Getting started with <strong>ng-trimagix</strong> is straightforward. Follow these steps to integrate it into your Angular project.</p>
    </div>

    <!-- CODE BLOCK LIST -->
    <app-code-block [codeBlocks]="codeBlocks"></app-code-block>

    <div class="mt-5 ps-4">
        <button class="btn-neon purple round py-2" type="button" routerLink="/getting-started/quick-start">
            Next: Quick Start
            <i class="fa-solid fa-arrow-right ms-3"></i>
        </button>
    </div>

</div>
