<div id="installation-page" class="cl-prim p-3">
    <div data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <h5 class="secondary-title">Installation</h5>
        <p>Getting started with <strong>ng-trimagix</strong> is straightforward. Follow these steps to integrate it into your Angular project.</p>
    </div>

    <ol>
        <li>
            <div class="code-block">
                <code class="cl-prim">
                    npm install ng-trimagix --save
                </code>
            </div>
        </li>
    </ol>

</div>
