#main-laytout{
    display: flex;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    background: #303030;
    background: linear-gradient(0deg,rgba(48, 48, 48, 1) 0%, rgba(31, 31, 31, 1) 32%, rgba(20, 20, 20, 1) 100%);

    header{
        width: 100%;
        position: fixed;
        z-index: 2;
    }

    aside{
        width: 14%;
        margin-top: 77px;
        position: sticky;
    }

    main{
        width: 86%;
        min-height: 100vh;
        overflow: auto;
        margin-top: 77px;
    }

    @media (max-width: 900px) {
        aside{
            width: 0;
            display: none;
        }
        
        main{
            width: 100%;
        }
    }
    
    @media (min-width: 901px) and (max-width: 1090px){
        aside{
            width: 20%;
        }
    
        main{
            width: 80%;
        }
    }
}


::ng-deep .mat-mdc-tab-list .mat-mdc-tab-labels .mdc-tab .mdc-tab__content .mdc-tab__text-label {
    color: #fff;
    font-size: 18px;
}

::ng-deep .mat-mdc-tab-list .mat-mdc-tab-labels .mdc-tab.mdc-tab-indicator--active .mdc-tab__content .mdc-tab__text-label {
    color: #cd24d1;
    font-size: 18px;
}

::ng-deep .mat-mdc-tab-header .mat-ripple .mat-mdc-tab-header-pagination-chevron{
    border-color: #fff;
}