
<div id="modal-confirm-page" class="cl-prim p-3">
    <div data-aos="fade-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
        <h5 class="secondary-title">Modals</h5>
        <p>
            Function to create a simple modal or a simple operation confirmation modal
        </p>
    </div>

    <div class="custom-tab-group">
        <mat-tab-group>
            <mat-tab label="Modal">
                <div class="p-4">
                    <button (click)="openModalTest()" class="btn-neon purple basic-width round">
                        Simple Modal
                    </button>
                </div>
            </mat-tab>
            <mat-tab label="Modal Confirm">
                <div class="p-4">
                    <button (click)="confrimModalTest()" class="btn-neon purple basic-width round">
                        Confirm Modal
                    </button>
                </div>
            </mat-tab>
            <mat-tab label="TypeScript">
                <!-- CODE BLOCK LIST TS-->
                <app-code-block [codeBlocks]="codeBlocksTs"></app-code-block>
            </mat-tab>
            <mat-tab label="HTML">
                <!-- CODE BLOCK LIST TS-->
                <app-code-block [codeBlocks]="codeBlocksHtml"></app-code-block>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>


