::ng-deep .mat-mdc-tab-list .mat-mdc-tab-labels .mdc-tab .mdc-tab__content .mdc-tab__text-label {
    color: #fff;
    font-size: 18px;
}

::ng-deep .mat-mdc-tab-list .mat-mdc-tab-labels .mdc-tab.mdc-tab-indicator--active .mdc-tab__content .mdc-tab__text-label {
    color: #cd24d1;
    font-size: 18px;
}